{% extends "base.html" %}
{% block stylesheet %}
{% load static %}
<!-- <link href="{% static 'css/main.css' %}" rel="stylesheet" /> -->
{% endblock %}
{% block title %} FG MALL - 메인 {% endblock %}
{% block contents %}



<body>
    {% block header %}
    {% endblock %}
    <div class="asd">
        <div style="border: 1px solid black; width: 30%; height: 200px">
            sadsadsad
        </div>
        <div style="border: 1px solid black; width: 30%; height: 200px">
            sadsadsaasdsad
        </div>
        <div style="border: 1px solid black; width: 30%; height: 200px">
            sadsadsa21312d
        </div>
        <div style="border: 1px solid black; width: 30%; height: 200px">
            sadsadsahgjhgjd
        </div>
    </div>
</body>
{% endblock %}
