<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
    <script src="/static/bs/js/bootstrap.bundle.min.css"></script>
    <link rel="stylesheet" href="/static/css/main.css" />
    <title>주문목록</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.8/ScrollMagic.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css" />
    <meta http-equiv="refresh" content="50">
</head>
<style>
    .btn:hover{
        background-color: black;
    }
</style>
<body style="background-color: black;">
    <button type="button" class="btn btn-outline-light"
        style="z-index: 10; position: absolute; right: 70px; top: 50px; font-family: 'Galmuri9'; color: #39FF14; font-size: 30px; border-color: #39FF14;"
        onclick="location.href='/'">메인으로</button>
    <div id="container">
        <div class="wrap">
            <div style="width: 700px; height: 120px; z-index: 10; position: absolute; left: 70px; top: 100px;">
                <div class="p_name" style="color: #39FF14; font-family: 'Galmuri9';">ORDERS LOADING<span class="load">...</span></div>
            </div>
            <div class="d-flex flex-wrap justify-content-center col-12 py-5"
                style="z-index: 100; position: absolute; top: 200px;">
                <div class="col-6">
                    <div class="row py-1">
                        <div class="col-lg-12 mx-auto">
                            <div class="card rounded shadow border-0">
                                <div class="card-body p-5 bg-white rounded" id="dtable">
                                    <div class="table-responsive">
                                        <table id="list" style="width:100%" class="table table-striped table-bordered">
                                            <thead class="table-light" style="text-align: center;">
                                                <tr>
                                                    <th scope="col" width="15%">주문번호</th>
                                                    <th>상품</th>
                                                    <th>옵션</th>
                                                    <th scope="col" width="15%">수량</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {%for order in orders%}
                                                <tr>
                                                    {%for data in order%}
                                                    <td style="text-align: center;">{{data}}</td>
                                                    {%endfor%}
                                                </tr>
                                                {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#list').DataTable({
            lengthChange: false
        });
    });
</script>