<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- style sheet -->
    <link rel="stylesheet" href="/static/bs/css/bootstrap.min.css">
    <script src="/static/bs/js/bootstrap.bundle.min.css"></script>
    <link rel="stylesheet" href="/static/css/login.css"/>

	<!-- google api ajax -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>


<div class="h-100 w-100">
    <div style="width: 500px; height: 120px; z-index: 10; position: absolute; left: 70px; top: 100px;">
        <div class="p_name">JOIN</div>
    </div>
    <div class="d-flex flex-wrap justify-content-center align-items-center h-100">
        <div class="d-flex flex-wrap justify-content-center align-items-center col-12 col-md-6 py-5" style="z-index: 100; position: absolute; top: 300px;">
            <form class="col-6" name="login" action="{% url 'join' %}" method="POST" id="login_input">
                {% csrf_token %}
                <div class="input-group d-flex py-1">
                    <span class="input-group-text" id="addon-wrapping">아이디</span>
                    <input type="text" class="form-control" name="uid" placeholder="아이디를 입력하세요.">
                </div>
                <div class="input-group d-flex py-1">
                    <span class="input-group-text" id="addon-wrapping">비밀번호</span>
                    <input type="password" class="form-control" name="pw" placeholder="비밀번호를 입력하세요.">
                </div>
                <div class="d-flex py-1">
                    <input type="submit" class="btn btn-success w-100" value="회원가입">
                </div>
                <div class="d-flex py-1">
                    <span style="color:red;"><strong>{{ error }}</strong> </span>
                </div>
            </form>
        </div>
    </div>
    <video muted autoplay loop>
        <source src="/static/video/coffee.mp4" type="video/mp4" style="position: fixed; width: 100%" />
    </video>
    <footer>
        <div class="footer">
            <h2>FG CAFE</h2>
            <p>대표이사 : 홍길동, 주소: 서울특별시 강남구 테헤란로 146 현악빌딩</p>
            <p>Tel : 02-1234-5678, 사업자 등록번호 : 111-22-33333</p>
            <br>
            <p>저희 FG CAFE는 입접판매자가 등록한 상품정보 및 거래에 대해서는
                일체 책임지지 않습니다.</p>
        </div>
    </footer>
    <div id="sidenav">
        <div class="sn1"><a class="summary_area" href="{% url 'main' %}">Main</a></div>
        <div class="sn4"><a class="sign" href="{% url 'login' %}">Login</a></div>
        <!-- <div><a class="order_list" href="{% url 'order_list' %}">Order_List</a></div> -->
        <hr>
        <div class="top" onclick="goTop()"></div>
    </div>
    <script>
        function goTop() {
            $('html').scrollTop(0);
        }
    </script>
</div>

